<h1>イベント一覧</h1>

<ul class="list-group mb-3">
  <% @events.each do |event| %>
    <%= link_to event, class: "list-group-item list-group-item-action" do %>
      <h5 class="list-group-item-heading"><%= event.name %></h5>
      <p class="mb-1"><%= "#{l(event.start_at, format: :long)} - #{l(event.end_at, format: :long)}" %></p>
    <% end %>
  <% end %>
</ul>
